<ion-view title="My location">
  <ion-content>
    <div ng-show="location">
      <p>
        <strong>Speed:</strong> {{location.coords.speed}}
      </p>
      <p>
        <strong>Heading:</strong> {{location.coords.heading}}
      </p>
      <p>
        <strong>Altitude Accuracy:</strong> {{location.coords.altitudeAccuracy}}
      </p>
      <p>
        <strong>Accuracy:</strong> {{location.coords.accuracy}}
      </p>
      <p>
        <strong>Altitude:</strong> {{location.coords.altitude}}
      </p>
      <p>
        <strong>Longitude:</strong> {{location.coords.longitude}}
      </p>
      <p>
        <strong>Latitude:</strong> {{location.coords.latitude}}
      </p>
      <p>
        <strong>Timestamp:</strong> {{location.timestamp|date:"EEEE, MMMM d, y 'at' h:mm:ss a"}} ({{location.timestamp}})
      </p>
    </div>
  </ion-content>
</ion-view>
